* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 25%;
    height: 100%;
    object-fit: cover;
}

input {
    display: none;
}

.container {
    margin: 100px auto;
    padding: 50px;
    width: calc(100vw / 2);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    background-color: #202325;
    overflow: hidden;
}

.images {
    display: block;
    height: 80%;
    overflow: hidden;
    border-radius: 15px;
}

.images__wrapper {
    display: flex;
    width: 400%;
    height: 100%;
    transition:margin .4s ease-in-out;
}

.descr {
    display: inline;
    margin-right: auto;
}

p {
    color: #FFF;
    font-size: 1em;
}

#btn1:checked ~ #images .images__wrapper {
    margin-left: 0;
}

#btn2:checked ~ #images .images__wrapper {
    margin-left: -100%;
}

#btn3:checked ~ #images .images__wrapper {
    margin-left: -200%;
}

#btn4:checked ~ #images .images__wrapper {
    margin-left: -300%;
}

#buttons {
    display: flex;
    align-items: start;
    justify-content: start;
}

#buttons label {
    display: block;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: blue;
    border: 1px solid blue;
    cursor: pointer;
}

#buttons label:hover {
	background-color: #FFF;
    border: 1px solid #FFF;
}

#buttons label:not(:last-child) {
    margin-right: 10px;
}

#btn1:checked ~ #buttons label:nth-child(1),
#btn2:checked ~ #buttons label:nth-child(2),
#btn3:checked ~ #buttons label:nth-child(3),
#btn4:checked ~ #buttons label:nth-child(4) {
	background-color: inherit;
    border: 1px solid #FFF;
}